
h1 {
    color: red;
    text-align:center;
    font-family:"Impact", "Arial", "Times New Roman", Times;
}

#pacman {
    /*Centers pacman canvas*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}
