/* Sets up Calibri as a valid font */
@font-face {
    font-family: Calibri;
    src: url("fonts/Calibri.ttf");
}
@font-face{
    font-family: Digital;
    src: url("fonts/DigitalClock.ttf");
}

html{
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding 0;
    margin 0 auto;
    font-family: Calibri, "Lucida Grande", Tahoma, sans-serif;
    font-size: 14pt;
}

#header #title {
    font-family:Digital, 'Lucida Grande', Tahoma, sans-serif;
    font-size: 30pt;
    text-align: left;
    margin: 0;
    text-transform: uppercase;
}
#header #title span {
    font-family: Digital;
    color:#069900;
}

#header h1{
    text-decoration: none;
    text-align:center;
    font-size: 30pt;
    font-weight: bold;
    color: #000;
    
}
    #header h1 span {
    
    }

.section{

}
    .section h1 {
        font-size: 22pt;
        margin: 10px;
        color: #000;
    }
    .section p {
        margin: 5px 5px 5px 20px;
    }
#issues.section{
    font-size: 13pt;
}
    #issues.section ol .issue {
        font-weight: bold;
        font-size: 20px;
    }
    #issues.section ol .issue ul li {
        text-decoration: none;
        font-weight: normal;
        font-size: 13pt;
        color: #000;
    }
    #issues.section ol .issue ul li h1 {
        font-size: 13pt;
        color: blue;
        margin: 0px;
        display: inline;
    }
    #issues.section ol .issue ul li #high {
        color: red;
    }

.screenshot{
    display: block;
    width:50%;
    margin-right:auto;
    margin-left:auto;
}
